<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dotted Circle View.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CF744561C94A02800DBE347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF7446F1C94A02800DBE347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CF7447A1C94A02800DBE347</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
